#our-location{

}
#our-mail{
  background: #f7f7f7;
}
#our-phone{
    background: #2F2F2F;
    color: #fff;
}
.contact{
  width: 100%;
}
.contact-test{
  height: 30%;
}
.contact-data{
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contact-form{
  padding: 5%;
}
.contact-form-header{
  margin-bottom: 2rem;
}
.contact-icon{
  font-size: 200px;
  margin-bottom: 2.2rem;
}
