@import "./base/variables";

body, html{
  margin: 0;
  padding: 0;
  max-width: 100%;
}
.general-border-bottom{
  border-bottom: 1px solid #f0f0f0;
}
.general-color{
  color: #b7b701;
};

.general-content{
  padding: 5% 3% 5% 3%;
};

.general-content-header{
  font-size: 1rem;
  font-weight: bold;
};

.general-hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $light-color;
}

.general-hundred-vh{
  height: 100vh;
}

.general-full-height{
  height: 100%;
}

.general-full-width{
  width: 100%;
}

.general-text-middle{
  display: inline-block;
  vertical-align: middle;
}

.second-inline{
  display: inline-block;
}

.general-subheader{
  color: $medium-color;
  font-size: 1.5rem;
  font-weight: 100;
}

.general-title{
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.general-top-marging{
 margin-top: 5%;
}
