@import "./base/variables";
.who-container{
  border: 1px solid $light-color;
  padding: 3% 3% 3% 3%;
  margin-bottom: 2.5rem;
}
.who-container:hover{
  border: 1px solid #000;
}

.who-icon {
  color: $primary-color;
}
