<div id="who" class="who general-content">

  <div class="grid-x">
    <div class="about-img medium-6 cell"></div>
    <div class="about-content medium-6 cell">
      <div class="general-title">
        <h6 class="general-content-header">Innovacion y Desarrollo</h6>
        <hr class="general-hr">
        <p class="general-subheader">We are your partners for growth.</p>
      </div>
      <div class="general-top-marging">
        <ul class="accordion" data-accordion>
          <li class="accordion-item is-active" data-accordion-item>
            <!-- Accordion tab title -->
            <a href="#" class="accordion-title"><strong>Desarrollo y mejoramiento de fórmulas.</strong></a>

            <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
            <div class="accordion-content" data-tab-content>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente praesentium, odit harum minus quod non architecto placeat magni ad tempora vitae amet nobis quo repellat officia odio voluptates ducimus, soluta?</p>
            </div>
          </li>
          <li class="accordion-item" data-accordion-item>
            <!-- Accordion tab title -->
            <a href="#" class="accordion-title"><strong>Diseño de Empaque y Etiqueta.</strong></a>
            <!-- Accordion tab content -->
            <div class="accordion-content" data-tab-content>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente praesentium, odit harum minus quod non architecto placeat magni ad tempora vitae amet nobis quo repellat officia odio voluptates ducimus, soluta?</p>
            </div>
          </li>
          <li class="accordion-item" data-accordion-item>
            <!-- Accordion tab title -->
            <a href="#" class="accordion-title"><strong>Asesoría de Tipo de Envase.</strong></a>
            <!-- Accordion tab content -->
            <div class="accordion-content" data-tab-content>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente praesentium, odit harum minus quod non architecto placeat magni ad tempora vitae amet nobis quo repellat officia odio voluptates ducimus, soluta?</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
