<div id="contact" class="contact general-content-dark">

  <div class="general-title">
    <h6 class="general-content-header">¡Trabajemos juntos!</h6>
    <hr class="general-hr">
    <p class="general-subheader-dark">Cuéntenos un poco de su idea a desarrollar y dentro de poco nos pondremos en contacto con usted.</p>
  </div>

  <form class="grid-x grid-margin-x">
    <div class="cell medium-4">
      <input type="text" placeholder="Nombre">
    </div>
    <div class="cell medium-4">
      <input type="text" placeholder="Correo electronico">
    </div>
    <div class="cell medium-4">
      <input type="number" placeholder="Telefono">
    </div>
    <div class="cell medium-12">
      <textarea rows="5" type="text" placeholder="Mensaje"></textarea>
    </div>
    <div class="cell medium-3"></div>
    <div class="cell medium-6">
      <button type="button" class="expanded button secondary">Enviar</button>
    </div>
    <div class="cell medium-3"></div>
  </form>

  <div class="grid-x grid-margin-x">
    <div class="cell medium-4">
      <h5>Información de contacto</h5>
      <p class="">hola@nebuladevelopment.com
        Tel: +52-614-516-6806</p>
    </div>
    <div class="cell medium-4">
      <h5>Oficinas</h5>
      <p class="">PIT 3, nivel 3
Av. Heroico Colegio Militar 4709
Chihuahua, México 31300 </p>
    </div>
    <div class="cell medium-4">
      <h5>Redes sociales</h5>
      <p class="">hola@nebuladevelopment.com
        Tel: +52-614-516-6806</p>
    </div>
  </div>
</div>
