<div id="contact" class="contact">
  <div class="grid-x contact-test general-border-bottom">
    <div id="our-location" class="cell medium-4 contact-data">
      <h1><i class="fa fa-map-marker fa-lg contact-icon"></i></h1>
      <h4><strong>Oficinas</strong></h4>
      <h5 class="subheader">Parque Tecnológico Orión <br>Heroico Colegio Militar #3700</h5>
    </div>
    <div id="our-mail" class="cell medium-4 contact-data">
      <h1><i class="fa fa-envelope fa-lg contact-icon"></i></h1>
      <h4><strong>Escribenos</strong></h4>
      <h5 class="subheader">info@craft.com<br>info@craft.com.</h5>
    </div>
    <div id="our-phone" class="cell medium-4 contact-data">
      <h1><i class="fa fa-phone  fa-lg contact-icon"></i></h1>
      <h4><strong>Llamanos</strong></h4>
      <h5 class="subheader">(614) 252-4679<br>(614) 252-4679</h5>
    </div>
  </div>
  <div class="grid-x">
    <div class="cell medium-6 contact-form">
      <div class="contact-form-header">
        <h1>Contactanos</h1>
        <h5 class="subheader">¡Trabajemos juntos!</h5>
      </div>
      <form>
        <label>Nombre
          <input type="text" placeholder="">
        </label>
        <label>Correo
          <input type="text" placeholder="">
        </label>
        <label>Mensaje
          <input type="text" placeholder="">
        </label>
        <button type="button" name="button" class="button"><strong>Enviar</strong></button>
      </form>
    </div>
    <div id="map" class="cell medium-6"></div>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUioYtW5GaAEZNUEE3wgVKfrbQUf6Nmos&callback=initMap">
    </script>
  </div>
</div>
