<div id="facts" class="general-content-dark">

  <div class="general-title">
    <h6 class="general-content-header">JUST SOME NUMBERS</h6>
    <hr class="general-hr">
    <p class="general-subheader-dark">The stock market is filled with individuals who know the price of everything, but the value of nothing.</p>
  </div>

  <div class="grid-x grid-margin-x">
    <div class="medium-6 large-3 cell">
      <h2>37</h2>
      <p>Funded Startups</p>
    </div>
    <div class="medium-6 large-3 cell">
      <h2>45M</h2>
      <p>Raised Capital</p>
    </div>
    <div class="medium-6 large-3 cell">
      <h2>12</h2>
      <p>Years Of Experience</p>
    </div>
    <div class="medium-6 large-3 cell">
      <h2>56</h2>
      <p>Financial Partners</p>
    </div>
  </div>

</div>
