<div class="what">
  <div class="grid-x">
    <div class="what-content medium-6 cell">
      <div>
        <h1>What We Do</h1>
        <h5 class="subheader">We provide dital services.</h5>
      </div>
      <div class="general-top-marging grid-x">
        <div class="general-top-marging small-2 cell"><h1 class="text-center"><i class="fa fa-envelope"></i></h1></div>
        <div class="general-top-marging small-10 cell">
          <h6>User Experience</h6>
          <h6 class="subheader">Nulla imperdiet nulla vel lectus interdum lobortis. Curabitur gravida lectus quis nisi ultrices.</h6>
        </div>
        <div class="general-top-marging small-2 cell"><h1 class="text-center"><i class="fa fa-envelope"></i></h1></div>
        <div class="general-top-marging small-10 cell">
          <h6>User Experience</h6>
          <h6 class="subheader">Nulla imperdiet nulla vel lectus interdum lobortis. Curabitur gravida lectus quis nisi ultrices.</h6>
        </div>
        <div class="general-top-marging small-2 cell"><h1 class="text-center"><i class="fa fa-envelope"></i></h1></div>
        <div class="general-top-marging small-10 cell">
          <h6>User Experience</h6>
          <h6 class="subheader">Nulla imperdiet nulla vel lectus interdum lobortis. Curabitur gravida lectus quis nisi ultrices.</h6>
        </div>
      </div>
    </div>
    <div class="what-img medium-6 cell"></div>
  </div>
</div>
