<div id="who" class="who general-content">

  <div class="general-title">
    <h6 class="general-content-header">¿QUE HACEMOS?</h6>
    <hr class="general-hr">
    <p class="general-subheader">Personalizamos la mejor Crema Artesanal que existe en el mercado. Tenemos experiencia en regalos corporativos para empresas ya sean pequeñas o grandes, con un excelente nivel de servicio.</p>
  </div>

  <div class="grid-x grid-margin-x">
    <div class="who-container medium-6 large-3 cell">
      <h1><i class="who-icon fa fa-clock-o"></i></h1>
      <h5>Experiencia</h5>
      <p>Tenemos experiencia en regalos corporativos para  empresas ya sean pequeñas o grandes, con un excelente nivel de servicio.</p>
    </div>
    <div class="who-container medium-6 large-3 cell">
      <h1><i class="who-icon fa fa-star-o"></i></h1>
      <h5>Calidad</h5>
      <p>Estamos orgullosos de lograr excelentes niveles de servicio, la atención al detalle, ayudado por nuestro excelente producto promocional.</p>
    </div>
    <div class="who-container medium-6 large-3 cell">
      <h1><i class="who-icon fa fa-handshake-o"></i></h1>
      <h5>Compromiso</h5>
      <p>Nos esforzamos para mantener a nuestros clientes a largo plazo y mantenemos en contacto con ellos.</p>
    </div>
    <div class="who-container medium-6 large-3 cell">
      <h1><i class="who-icon fa fa-handshake-o"></i></h1>
      <h5>Compromiso</h5>
      <p>Nos esforzamos para mantener a nuestros clientes a largo plazo y mantenemos en contacto con ellos</p>
    </div>
  </div>

</div>
